{% extends 'base.html.twig' %}

{% block title %}
    SymphArt Articles
{% endblock %}

{% block body %}
    <div class="container bg-red-600 ">
        <h1>hello World</h1>
    </div>

{% endblock %}
