{% extends 'base.html.twig' %}

{% block title %}
    SymphArt article
{% endblock %}

{% block body %}
    <div class="container w-full">
        <div class="flex justify-between">
            <h1>{{ article.title }}</h1>
            <p>{{ article.author }}</p>
        </div>
        <hr>
            <div class="mt-10 ml-10 mr-5">
              {{ article.body | raw}}
            </div>
        <div class="flex justify-end">
            <a href="/" class="btn-primary inline-block align-middle justify-end">Go Back</a>
        </div>
    </div>
{% endblock %}
