<nav class="flex items-center justify-between flex-wrap bg-primary p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <a href="/" class="font-semibold text-xl tracking-tight">SymphArt</a>
    </div>
    <div>
        <ul>
            <li class="nav-item">
                <a href="/">Home</a>
            </li>
            <li class="nav-item">
                <a href="/article/new">New Article</a>
            </li>
        </ul>

{#        <div>#}
{#            <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>#}
{#        </div>#}
    </div>
</nav>